{{#each this}}
<a href="/post/{{id}}">
<div>
id: {{id}}
title : {{title}}
description: {{description}}
date : {{format_date created_at}}
user id :{{user.id}}
user name : {{user.name}}
user email : {{user.email}}
</div></a>
{{/each}}